body, html {
  padding: 0;
  margin: 0;
}
body {
  background: hsl(200, 10%, 95%);
  font-family: "Pingfang TC", "\5FAE\8EDF\6B63\9ED1\9AD4", "Microsoft JhengHei", PingFang, LiHei Pro, Microsoft JhengHei;
}